/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* Global CSS Begin */
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
input[type="date"],
input[type="time"],
input[type="text"] {
  box-sizing: border-box;
  padding: 10px 15px;
  box-shadow: 0px 1px 6px rgb(0 0 0 / 13%);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin-right: 15px;
  color: #c1c1c1;
}
button {
  cursor: pointer;
}
.container {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.button1,
.button2 {
  border: 1px solid #dadada;
  padding: 8px 15px;
  border-radius: 4px;
  margin-right: 10px;
  background: #fff;
  color: #c1c1c1;
  min-width: 123px;
}

.button2 {
  border: 1px solid #ff4eb2;
  background: #ff4eb2;
  color: #fff;
}
.delete-btn {
  padding: 0 10px;
  height: 40px;
}
.delete-btn i {
  color: red;
  cursor: pointer;
}
.w-90 {
  width: 90px;
}
.w-130 {
  width: 130px;
}
.btn-lg {
  min-height: 50px;
  min-width: 180px;
}
.close {
  min-width: auto;
  width: 18px;
  height: 18px;
  padding: initial;
  border-radius: 50%;
  font-size: 9px;
  color: #000;
  border: 1px solid #000;
  background: #fff;
}
.tag-outer {
  margin-top: 15px;
}
.modal {
  min-width: 320px;
  position: absolute;
  right: 0;
  width: 100%;
  background: #fff;
  max-width: 320px;
}
.modal .wt-card {
  padding: 15px 15px;
}
.modal .tag {
  border: 1px solid #000;
  position: relative;
  padding: 4px 20px 4px 10px;
  font-size: 13px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 38%;
}
.tag span {
  color: #ff4eb2;
}
.close-tag {
  position: absolute;
  top: 4px;
  right: 7px;
}
.modal .input-group {
  margin: 0 auto;
}
.modal .wt-card-head {
  padding-left: 0;
  padding-right: 0;
}
.modal .input-group input {
  width: 120px;
}

.modal .wt-card-head {
  margin-bottom: 20px;
}
.modal-btn {
  margin-top: 25px;
  width: 100%;
  margin-bottom: 10px;
}
.bottom-block h4 {
  font-size: 13px;
}
.days .btn1 {
  background: #fff;
  border: 1px solid #dadada;
  color: #ff4eb2;
  padding: 6px 10px;
  margin-right: 4px;
  border-radius: 6px;
}
.btnhover {
  background: #ff4eb2 !important;
  color: #fff !important;
  opacity: 0.6;
  border-color: #ff4eb2 !important;
}
.btncopy {
  background: #dad87e !important;
  color: #fff !important;
  opacity: 0.6;
  border-color: #ff4eb2 !important;
}

.loader{
  position: fixed;
    top: 45%;
    left: 43%;
    z-index: 9999;
}
/* Global CSS End */

/* Filter CSS Begin */
.wt-filter {
  width: 100%;
  box-sizing: border-box;
  max-width: 920px;
}
/* Filter CSS End */

/* ******** Timeslot CSS Begin ******** */
.wt-timeslots-list {
  max-width: 920px;
}

/* Single Card CSS Begin */
.wt-card {
  width: 100%;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 1px 6px rgb(0 0 0 / 13%);
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}
.wt-card-head {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.wt-card-content {
  border-top: 1px solid #e7e7e7;
  margin-top: 15px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.card-head-left {
  color: #c1c1c1;
}

.card-head-right {
  margin-left: auto;
}

/* Single Card CSS End */

/* Booked Slot Begin */
.wt-block {
  display: inline-block;
  margin-right: 30px;
}
.input-group {
  box-shadow: 0px 1px 6px rgb(0 0 0 / 13%);
  border-radius: 6px;
  padding: 0 5px;
}
.input-group input {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  border-right: 1px solid #f3f3f3;
}
.input-group i {
  font-size: 12px;
}
/* Booked slot end */
/* ********* TimeSlot CSS End  ******** */
